{
  "swagger": "2.0",
  "info": {
    "title": "API for Cisco AI Defense platform services",
    "description": "API for Cisco AI Defense platform services",
    "version": "1.1.0",
    "contact": {
      "name": "API Support",
      "url": "https://www.cisco.com/site/us/en/products/security/ai-defense/index.html"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "tags": [
    {
      "name": "Policies",
      "description": "API endpoints for AI Defense policy management"
    },
    {
      "name": "Applications",
      "description": "API endpoints for AI Defense application management"
    },
    {
      "name": "Connections",
      "description": "API endpoints for AI Defense connection management"
    },
    {
      "name": "Events",
      "description": "API endpoints for AI Defense runtime events management"
    },
    {
      "name": "AiValidationAPI"
    },
    {
      "name": "AwsCredentialsService"
    },
    {
      "name": "ScanManagerAPI"
    },
    {
      "name": "MCP Registry (Beta)"
    },
    {
      "name": "Resource Connections (Beta)",
      "description": "API endpoints for AI Defense resource connection management"
    }
  ],
  "host": "api.security.cisco.com",
  "basePath": "/api/ai-defense/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/ai-validation/config/{task_id}": {
      "get": {
        "summary": "Get AI Validation Config",
        "description": "Retrieves the AI validation configuration for a specific task ID. This includes details about the model, request templates, and other configuration parameters.",
        "operationId": "AiValidationAPI_GetAiValidationConfig",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAiValidationConfigResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "task_id",
            "description": "task_id is used to filter the config used for the job",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AiValidationAPI"
        ]
      }
    },
    "/ai-validation/job/{task_id}": {
      "get": {
        "summary": "Get AI Validation Job",
        "description": "Retrieves the AI validation job details for a specific task ID. This includes the job status, progress, and timestamps.",
        "operationId": "AiValidationAPI_GetAiValidationJob",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetAiValidationJobResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "task_id",
            "description": "task_id is used to filter all jobs for a temporal workflow",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AiValidationAPI"
        ]
      }
    },
    "/ai-validation/jobs": {
      "get": {
        "summary": "List AI Validation Jobs",
        "description": "Retrieves a list of AI validation jobs with comprehensive filtering, sorting, and offset-based pagination support. Follows standard product pagination pattern with limit/offset. Includes detailed job information, configuration details, and attack counts.",
        "operationId": "AiValidationAPI_ListAiValidationJobs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListAiValidationJobsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "Pagination - Number of records to retrieve, default and max value is 100",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "description": "Offset for pagination",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort_by",
            "description": "Sorting - Field name to sort the validation jobs returned",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "VALIDATION_JOB_SORT_BY_UNSPECIFIED",
              "VALIDATION_JOB_SORT_BY_STARTED_AT",
              "VALIDATION_JOB_SORT_BY_CREATED_AT",
              "VALIDATION_JOB_SORT_BY_STATUS",
              "VALIDATION_JOB_SORT_BY_VALIDATION_SCAN_NAME",
              "VALIDATION_JOB_SORT_BY_ASSET_TYPE",
              "VALIDATION_JOB_SORT_BY_AI_ASSET_NAME",
              "VALIDATION_JOB_SORT_BY_MODEL_ENDPOINT_URL_MODEL_ID"
            ],
            "default": "VALIDATION_JOB_SORT_BY_UNSPECIFIED"
          },
          {
            "name": "order",
            "description": "Sort order of the validation jobs returned",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "SORT_ORDER_UNSPECIFIED",
              "SORT_ORDER_ASC",
              "SORT_ORDER_DESC"
            ],
            "default": "SORT_ORDER_UNSPECIFIED"
          },
          {
            "name": "status",
            "description": "Filtering\nstatus filters for a specific job status\n\n - STATUS_UNKNOWN: ENUM_VALUE_PREFIX\nENUM_ZERO_VALUE_SUFFIX\n\nDefault unknown state\n - JOB_CREATED: ENUM_VALUE_PREFIX\n\nJob has been created\n - JOB_IN_PROGRESS: ENUM_VALUE_PREFIX\n\nJob is currently in progress\n - JOB_COMPLETED: ENUM_VALUE_PREFIX\n\nJob has been completed successfully\n - JOB_FAILED: ENUM_VALUE_PREFIX\n\nJob has failed",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "STATUS_UNKNOWN",
              "JOB_CREATED",
              "JOB_IN_PROGRESS",
              "JOB_COMPLETED",
              "JOB_FAILED"
            ],
            "default": "STATUS_UNKNOWN"
          },
          {
            "name": "started_after",
            "description": "started_after filters for jobs started after this timestamp",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "started_before",
            "description": "started_before filters for jobs started before this timestamp",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "asset_type",
            "description": "Config-based filtering\nasset_type filters for specific asset type\n\n - UNKNOWN: ENUM_VALUE_PREFIX\nENUM_ZERO_VALUE_SUFFIX\n - APPLICATION: ENUM_VALUE_PREFIX\n - MODEL: ENUM_VALUE_PREFIX\n - EXTERNAL: ENUM_VALUE_PREFIX",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "UNKNOWN",
              "APPLICATION",
              "MODEL",
              "EXTERNAL"
            ],
            "default": "UNKNOWN"
          },
          {
            "name": "ai_asset_name",
            "description": "ai_asset_name filters for specific AI asset name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model_endpoint_url_model_id",
            "description": "model_endpoint_url_model_id filters for specific model endpoint or model ID",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "search_string",
            "description": "search_string is used to search using pattern matching across multiple string based fields:\nai_asset_name, validation_scan_name, model_provider, model_endpoint_url_model_id.\nThis is an OR search across these fields.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "aws_region",
            "description": "The region related to the ai_asset_name",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "AWS_REGION_UNSPECIFIED",
              "AWS_REGION_US_EAST_1",
              "AWS_REGION_US_WEST_2",
              "AWS_REGION_EU_CENTRAL_1",
              "AWS_REGION_AP_NORTHEAST_1"
            ],
            "default": "AWS_REGION_UNSPECIFIED"
          }
        ],
        "tags": [
          "AiValidationAPI"
        ]
      }
    },
    "/ai-validation/jobs/{task_id}": {
      "delete": {
        "summary": "Delete AI Validation Job",
        "description": "Deletes an AI validation job by task ID.",
        "operationId": "AiValidationAPI_DeleteAiValidationJob",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteAiValidationJobResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "task_id",
            "description": "Policy ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AiValidationAPI"
        ]
      }
    },
    "/ai-validation/results/{task_id}": {
      "get": {
        "summary": "List AI Validation Results",
        "description": "Retrieves the AI validation results for a specific task ID. This includes the job status, progress, and timestamps.",
        "operationId": "AiValidationAPI_ListAiValidationResults",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListAiValidationResultsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "task_id",
            "description": "task_id is used to filter all results for the job",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AiValidationAPI"
        ]
      }
    },
    "/ai-validation/start": {
      "post": {
        "summary": "Start AI Validation",
        "description": "Starts an AI validation job for a model or application. This endpoint triggers the validation process and returns a task ID.",
        "operationId": "AiValidationAPI_StartAiValidation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1StartAiValidationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request to start an AI validation job. This request contains all necessary information to trigger a validation run for a model or application.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1StartAiValidationRequest"
            }
          }
        ],
        "tags": [
          "AiValidationAPI"
        ]
      }
    },
    "/ai-validation/start/multi": {
      "post": {
        "summary": "Start AI Validation",
        "description": "Starts an AI validation job for a model or application. This endpoint triggers the validation process and returns a task ID.",
        "operationId": "AiValidationAPI_StartAiValidationMulti",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1StartAiValidationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request to start an AI validation job. This request contains all necessary information to trigger a validation run for a model or application.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1StartAiValidationRequest"
            }
          }
        ],
        "tags": [
          "AiValidationAPI"
        ]
      }
    },
    "/applications": {
      "get": {
        "summary": "List applications",
        "description": "Returns a paginated list of applications",
        "operationId": "ApplicationsService_ListApplications",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListApplicationsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "Number of records to retrieve, default and max value is 100 (optional)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "description": "Offset for pagination (optional)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "expanded",
            "description": "Whether to expand connections (optional)",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort_by",
            "description": "Field name to sort the applications returned (optional)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "ApplicationSortBy_Unspecified",
              "application_name",
              "description",
              "connection_type"
            ],
            "default": "ApplicationSortBy_Unspecified"
          },
          {
            "name": "order",
            "description": "Sort order of the applications returned (optional)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "SortOrder_Unspecified",
              "asc",
              "desc"
            ],
            "default": "SortOrder_Unspecified"
          },
          {
            "name": "connection_type",
            "description": "Filter by connection type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Unspecified",
              "API",
              "Gateway",
              "MCPGateway",
              "MCPAPI"
            ],
            "default": "Unspecified"
          },
          {
            "name": "application_name",
            "description": "search by application name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Applications"
        ]
      },
      "post": {
        "summary": "Create application",
        "description": "Creates a new application",
        "operationId": "ApplicationsService_CreateApplication",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateApplicationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request to create a new application",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateApplicationRequest"
            }
          }
        ],
        "tags": [
          "Applications"
        ]
      }
    },
    "/applications/{application_id}": {
      "get": {
        "summary": "Get application by ID",
        "description": "Retrieves an application by its ID",
        "operationId": "ApplicationsService_GetApplicationByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetApplicationByIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "application_id",
            "description": "Application ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Whether to return expanded application with connections",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Applications"
        ]
      },
      "delete": {
        "summary": "Delete application",
        "description": "Deletes an application by ID",
        "operationId": "ApplicationsService_DeleteApplication",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteApplicationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "application_id",
            "description": "Application ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Applications"
        ]
      },
      "put": {
        "summary": "Update application",
        "description": "Updates an application's name and description",
        "operationId": "ApplicationsService_UpdateApplication",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateApplicationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "application_id",
            "description": "Application ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "application_id": "123e4567-e89b-12d3-a456-426614174000",
                "application_name": "Updated Marketing Assistant",
                "description": "Enhanced AI assistant for marketing content generation"
              },
              "properties": {
                "application_name": {
                  "type": "string",
                  "title": "Application name (optional)",
                  "description": "Application name (optional)"
                },
                "description": {
                  "type": "string",
                  "title": "Description (optional)",
                  "description": "Description (optional)"
                }
              },
              "description": "Request to update an application",
              "title": "UpdateApplicationRequest"
            },
            "description": "Request to update an application"
          }
        ],
        "tags": [
          "Applications"
        ]
      }
    },
    "/connections": {
      "get": {
        "summary": "List connections",
        "description": "Returns a paginated list of connections",
        "operationId": "ConnectionsService_ListConnections",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListConnectionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "Number of records to retrieve, default and max value is 100  (optional)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "description": "Offset for pagination (optional)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "expanded",
            "description": "Whether to expand connections (optional)",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "sort_by",
            "description": "Field name to sort the connections returned by",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "ConnectionSortBy_Unspecified",
              "connection_name",
              "status",
              "last_active",
              "created_at"
            ],
            "default": "ConnectionSortBy_Unspecified"
          },
          {
            "name": "order",
            "description": "Sort order of the connections returned",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "SortOrder_Unspecified",
              "asc",
              "desc"
            ],
            "default": "SortOrder_Unspecified"
          },
          {
            "name": "connection_type",
            "description": "Filter by connection type",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Unspecified",
              "API",
              "Gateway",
              "MCPGateway",
              "MCPAPI"
            ],
            "default": "Unspecified"
          },
          {
            "name": "connection_status",
            "description": "Filter by connection status",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "ConnectionStatusUnspecified",
              "Connected",
              "Disconnected",
              "Pending"
            ],
            "default": "ConnectionStatusUnspecified"
          },
          {
            "name": "policy_applied",
            "description": "Filter by policy assignment status",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "connection_name",
            "description": "search by connection name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Connections"
        ]
      },
      "post": {
        "summary": "Create connection",
        "description": "Creates a new connection",
        "operationId": "ConnectionsService_CreateConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateConnectionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request message for creating a connection",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateConnectionRequest"
            }
          }
        ],
        "tags": [
          "Connections"
        ]
      }
    },
    "/connections/{connection_id}": {
      "get": {
        "summary": "Get connection by ID",
        "description": "Retrieves a connection by its ID",
        "operationId": "ConnectionsService_GetConnectionByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetConnectionByIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "connection_id",
            "description": "Connection ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Whether to return expanded information",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Connections"
        ]
      },
      "delete": {
        "summary": "Delete connection",
        "description": "Deletes a connection by ID",
        "operationId": "ConnectionsService_DeleteConnectionByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteConnectionByIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "connection_id",
            "description": "Connection ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Connections"
        ]
      }
    },
    "/connections/{connection_id}/keys": {
      "get": {
        "summary": "Get API keys for connection",
        "description": "Retrieves API keys associated with a specific connection",
        "operationId": "ConnectionsService_GetApiKeysByConnectionId",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetApiKeysByConnectionIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "connection_id",
            "description": "Connection ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Connections"
        ]
      },
      "post": {
        "summary": "Update API key for connection",
        "description": "Updates an api key for an existing connection",
        "operationId": "ConnectionsService_UpdateConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdateConnectionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "connection_id",
            "description": "Connection ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "connection_id": "323e4567-e89b-12d3-a456-426614174333",
                "op": "GENERATE_API_KEY",
                "key": {
                  "name": "New Production API Key",
                  "expiry": "2026-01-01T00:00:00Z"
                }
              },
              "properties": {
                "op": {
                  "$ref": "#/definitions/v1EditConnectionOperationType",
                  "title": "Operation type only allow 1 (GENERATE_API_KEY), 2 (REGENERATE_API_KEY), 3 (REVOKE_API_KEY)"
                },
                "key_id": {
                  "type": "string",
                  "title": "Key ID (for revoke op)",
                  "description": "Key ID (for revoke op)"
                },
                "key": {
                  "$ref": "#/definitions/v1ApiKeyRequest",
                  "description": "The key object"
                }
              },
              "description": "Request to update a connection with optional API key operations",
              "title": "UpdateConnectionRequest"
            },
            "description": "Request to update a connection with optional API key operations"
          }
        ],
        "tags": [
          "Connections"
        ]
      }
    },
    "/events": {
      "post": {
        "summary": "List events",
        "description": "Returns a paginated list of events",
        "operationId": "EventsService_ListEvents",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListEventsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request to list events with pagination",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ListEventsRequest"
            }
          }
        ],
        "tags": [
          "Events"
        ]
      }
    },
    "/events/{event_id}": {
      "get": {
        "summary": "Get event details",
        "description": "Retrieves detailed information for a specific event by its ID",
        "operationId": "EventsService_GetEvent",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetEventResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "description": "Event ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Whether to return expanded information",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Events"
        ]
      }
    },
    "/events/{event_id}/conversation": {
      "get": {
        "summary": "Get event conversation",
        "description": "Retrieves conversation history for a specific event",
        "operationId": "EventsService_GetEventConversation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetEventConversationResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "description": "Event ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Whether to return expanded information",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Events"
        ]
      }
    },
    "/mcp/servers": {
      "get": {
        "summary": "List MCP servers",
        "description": "List all the MCP servers you've registered in AI Defense.",
        "operationId": "McpRegistryService_ListMCPServers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListMCPServersResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "Maximum number of servers to return in response",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "offset",
            "description": "Number of servers to skip before starting to return results",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "expanded",
            "description": "Deprecated: Whether to return expanded server details",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "serverNameSubstr",
            "description": "Filter for MCP server name substring match",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "onboardingStatus",
            "description": "Filter by onboarding status values",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ONBOARDING_STATUS_UNSPECIFIED",
                "INPROGRESS",
                "FAILED",
                "COMPLETED"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "transportType",
            "description": "Filter by transport type values",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TRANSPORT_TYPE_UNSPECIFIED",
                "SSE",
                "STREAMABLE",
                "STDIO"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "severity",
            "description": "Filter by threat severity levels",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "SEVERITY_UNKNOWN",
                "SAFE",
                "LOW",
                "MEDIUM",
                "HIGH"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "creationDate",
            "description": "Filter by server creation date",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "registryId",
            "description": "Optional registry filter to return servers associated with the registry",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "MCP Registry (Beta)"
        ]
      },
      "post": {
        "summary": "Register a new MCP server",
        "description": "Register an MCP server for scanning in AI Defense.",
        "operationId": "McpRegistryService_RegisterMCPServer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1RegisterMCPServerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request to register a new MCP server.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1RegisterMCPServerRequest"
            }
          }
        ],
        "tags": [
          "MCP Registry (Beta)"
        ]
      }
    },
    "/mcp/servers/scan": {
      "post": {
        "summary": "Scan MCP server without registration",
        "description": "Run a one-time scan of an MCP server that you have not registered.",
        "operationId": "McpRegistryService_ScanUnregisteredMCPServer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ScanUnregisteredMCPServerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request to scan an MCP server without registering it.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1ScanUnregisteredMCPServerRequest"
            }
          }
        ],
        "tags": [
          "MCP Registry (Beta)"
        ]
      }
    },
    "/mcp/servers/scan/{scan_id}": {
      "get": {
        "summary": "Get Scan status for MCP server scan",
        "description": "Get the scan status and results for an MCP server scan.",
        "operationId": "McpRegistryService_GetUnregisteredMCPServerScanStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetUnregisteredMCPServerScanStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "scan_id",
            "description": "The unique identifier of the scan to retrieve status for",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MCP Registry (Beta)"
        ]
      }
    },
    "/mcp/servers/{id}": {
      "get": {
        "summary": "Get MCP server by ID",
        "description": "Retrieve an MCP server's registration details based on its ID.",
        "operationId": "McpRegistryService_GetMCPServer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetMCPServerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique identifier of the MCP server to retrieve",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Deprecated: Whether to return expanded server details",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "MCP Registry (Beta)"
        ]
      },
      "delete": {
        "summary": "Delete MCP server",
        "description": "Delete the registration of an MCP server based on its ID.",
        "operationId": "McpRegistryService_DeleteMCPServer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteMCPServerResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique identifier of the MCP server to delete",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "MCP Registry (Beta)"
        ]
      }
    },
    "/policies": {
      "get": {
        "summary": "List policies",
        "description": "Returns a paginated list of policies",
        "operationId": "PoliciesService_ListPolicies",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListPoliciesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "Number of records to retrieve, default and max value is 100 (optional)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "description": "Offset for pagination (optional)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "sort_by",
            "description": "Field name to sort the policies returned (optional)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "PolicySortBy_Unspecified",
              "policy_name"
            ],
            "default": "PolicySortBy_Unspecified"
          },
          {
            "name": "order",
            "description": "Sort order of the policies returned (optional)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "SortOrder_Unspecified",
              "asc",
              "desc"
            ],
            "default": "SortOrder_Unspecified"
          },
          {
            "name": "language_type",
            "description": "Filter by language type (optional)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "LanguageTypeUnspecified",
              "English",
              "Japanese",
              "French",
              "German"
            ],
            "default": "LanguageTypeUnspecified"
          },
          {
            "name": "connection_type",
            "description": "Filter by connection type (optional)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Unspecified",
              "API",
              "Gateway",
              "MCPGateway",
              "MCPAPI"
            ],
            "default": "Unspecified"
          },
          {
            "name": "policy_status",
            "description": "Filter by policy status (optional)",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "PolicyStatusUnspecified",
              "Draft",
              "Enabled",
              "Disabled"
            ],
            "default": "PolicyStatusUnspecified"
          },
          {
            "name": "policy_name",
            "description": "Filter by policy name (optional)",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Policies"
        ]
      }
    },
    "/policies/{policy_id}": {
      "get": {
        "summary": "Get policy by ID",
        "description": "Retrieves a policy by its ID",
        "operationId": "PoliciesService_GetPolicyByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetPolicyByIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "policy_id",
            "description": "Policy ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Whether to fetch expanded policy details",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Policies"
        ]
      },
      "delete": {
        "summary": "Delete policy",
        "description": "Deletes a policy by ID",
        "operationId": "PoliciesService_DeletePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeletePolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "policy_id",
            "description": "Policy ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Policies"
        ]
      },
      "put": {
        "summary": "Update policy",
        "description": "Updates a policy's name, description, or status",
        "operationId": "PoliciesService_UpdatePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1UpdatePolicyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "policy_id",
            "description": "Policy ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "name": "Updated Security Policy",
                "description": "Enhanced security controls for LLM access",
                "status": "Enabled"
              },
              "properties": {
                "name": {
                  "type": "string",
                  "title": "Policy name",
                  "description": "Policy name"
                },
                "description": {
                  "type": "string",
                  "title": "Description of the policy",
                  "description": "Description of the policy"
                },
                "status": {
                  "type": "string",
                  "description": "The status string"
                }
              },
              "description": "Request message for updating a policy",
              "title": "UpdatePolicyRequest"
            },
            "description": "Request message for updating a policy"
          }
        ],
        "tags": [
          "Policies"
        ]
      }
    },
    "/policies/{policy_id}/connections": {
      "post": {
        "summary": "Add or update policy connections",
        "description": "Associates connections with a policy or updates existing connections",
        "operationId": "PoliciesService_AddOrUpdateConnections",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AddOrUpdatePolicyConnectionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "policy_id",
            "description": "Policy ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "policy_id": "550e8400-e29b-41d4-a716-446655440000",
                "connections_to_associate": [
                  "323e4567-e89b-12d3-a456-426614174333"
                ],
                "connections_to_disassociate": [
                  "150e8400-e89b-a716-a456-426614174334"
                ]
              },
              "properties": {
                "connections_to_associate": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "List of connection IDs to be added or updated to a policy",
                  "description": "List of connection IDs to be added or updated to a policy"
                },
                "connections_to_disassociate": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "List of connection IDs to be removed from a policy",
                  "description": "List of connection IDs to be removed from a policy"
                }
              },
              "description": "Request to add or remove connections from a policy",
              "title": "AddOrUpdatePolicyConnectionsRequest"
            },
            "description": "Request to add or remove connections from a policy"
          }
        ],
        "tags": [
          "Policies"
        ]
      }
    },
    "/resource/connection/{connection_id}/resources": {
      "post": {
        "summary": "Filter resources by connection ID",
        "description": "Retrieves resources associated with the given connection ID",
        "operationId": "ResourceConnectionsService_FilterResourcesByConnectionID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1FilterResourcesByConnectionIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "connection_id",
            "description": "Connection ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "limit": 25,
                "offset": 0,
                "resource_type": "MCP_SERVER",
                "connection_id": "323e4567-e89b-12d3-a456-426614174333",
                "resource_type_specific_filters": {
                  "mcp_server": {
                    "server_name_prefixes": [
                      "prod-",
                      "dev-"
                    ]
                  }
                }
              },
              "properties": {
                "limit": {
                  "type": "integer",
                  "format": "int64",
                  "title": "Maximum number of results to return (for pagination)",
                  "description": "Maximum number of results to return (for pagination)"
                },
                "offset": {
                  "type": "integer",
                  "format": "int64",
                  "title": "Number of results to skip (for pagination)",
                  "description": "Number of results to skip (for pagination)"
                },
                "resource_type": {
                  "$ref": "#/definitions/v1ResourceType",
                  "title": "To Filter by Resource Types (e.g. MCP_SERVER)"
                },
                "resource_type_specific_filters": {
                  "$ref": "#/definitions/v1ResourceTypeSpecificFilters",
                  "description": "The resource_type_specific_filters object"
                }
              },
              "description": "Request to list resources associated with a specific connection.",
              "title": "FilterResourcesByConnectionIDRequest"
            },
            "description": "Request to list resources associated with a specific connection."
          }
        ],
        "tags": [
          "Resource Connections (Beta)"
        ]
      }
    },
    "/resource/connections": {
      "post": {
        "summary": "Create resource connection",
        "description": "Creates a new resource connection",
        "operationId": "ResourceConnectionsService_CreateResourceConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CreateResourceConnectionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request to create a new resource connection",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateResourceConnectionRequest"
            }
          }
        ],
        "tags": [
          "Resource Connections (Beta)"
        ]
      }
    },
    "/resource/connections/filter": {
      "post": {
        "summary": "Filter resource connections",
        "description": "Returns a filtered list of resource connections based on specified criteria",
        "operationId": "ResourceConnectionsService_FilterResourceConnections",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1FilterResourceConnectionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request to filter resource connections with pagination and sorting options",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1FilterResourceConnectionsRequest"
            }
          }
        ],
        "tags": [
          "Resource Connections (Beta)"
        ]
      }
    },
    "/resource/connections/{connection_id}": {
      "get": {
        "summary": "Get resource connection by ID",
        "description": "Retrieves a resource connection by its ID",
        "operationId": "ResourceConnectionsService_GetResourceConnectionByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetResourceConnectionByIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "connection_id",
            "description": "Connection ID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "expanded",
            "description": "Whether to return expanded information",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Resource Connections (Beta)"
        ]
      },
      "delete": {
        "summary": "Delete resource connection",
        "description": "Deletes a resource connection by ID",
        "operationId": "ResourceConnectionsService_DeleteResourceConnectionByID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1DeleteResourceConnectionByIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "connection_id",
            "description": "Connection ID",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Resource Connections (Beta)"
        ]
      },
      "put": {
        "summary": "Add or update resource connections",
        "description": "Associates or disassociates resources with a given connection ID",
        "operationId": "ResourceConnectionsService_AddOrUpdateResourceConnections",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1AddOrUpdateResourceConnectionsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "connection_id",
            "description": "The unique identifier of the connection to update",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "connection_id": "0f1e2d3c-4b5a-4c6d-8e9f-1a2b3c4d5e6f",
                "associate_resource_ids": [
                  "b7a1c2d3-4e5f-4a6b-9c8d-0e1f2a3b4c5d",
                  "c3d4e5f6-7a8b-4c9d-8e0f-1a2b3c4d5e6f"
                ],
                "disassociate_resource_ids": [
                  "d4e5f6a7-b8c9-4d0e-8f1a-2b3c4d5e6f70"
                ],
                "resource_type": "MCP_SERVER"
              },
              "properties": {
                "associate_resource_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "List of resource IDs to associate with this connection",
                  "description": "List of resource IDs to associate with this connection"
                },
                "disassociate_resource_ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "List of resource IDs to disassociate from this connection",
                  "description": "List of resource IDs to disassociate from this connection"
                },
                "resource_type": {
                  "$ref": "#/definitions/v1ResourceType",
                  "title": "The type of resource being connected"
                }
              },
              "description": "Request to associate or disassociate resources with a connection.",
              "title": "AddOrUpdateResourceConnectionsRequest"
            },
            "description": "Request to associate or disassociate resources with a connection."
          }
        ],
        "tags": [
          "Resource Connections (Beta)"
        ]
      }
    },
    "/resource/{resource_id}/connection": {
      "get": {
        "summary": "Get resource connection by resource ID",
        "description": "Retrieves a resource connection by its resource ID",
        "operationId": "ResourceConnectionsService_GetResourceConnectionByResourceID",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetResourceConnectionByResourceIDResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "resource_id",
            "description": "The unique identifier of the resource to get connections for",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Resource Connections (Beta)"
        ]
      }
    },
    "/scans": {
      "get": {
        "summary": "List all scans",
        "description": "List all completed model scans.",
        "operationId": "ScanManagerAPI_ListScans",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListScansResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "description": "Maximum number of scans to return in the response",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "offset",
            "description": "Number of scans to skip before starting to return results",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "name",
            "description": "Following are the various params to filter the list by:\nName of the artifact which is either a file name or a hugging face repository name.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scan_date",
            "description": "Date at which the scan was created.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "type",
            "description": "If the scan analyses a file or a repository.\n\n - NONE_ANALYSIS_TYPE: Default value\n - FILE_ANALYSIS: File analysis\n - REPOSITORY_ANALYSIS: Repository analysis",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "NONE_ANALYSIS_TYPE",
              "FILE_ANALYSIS",
              "REPOSITORY_ANALYSIS"
            ],
            "default": "NONE_ANALYSIS_TYPE"
          },
          {
            "name": "severity",
            "description": "Severity of the threat found during the scan.\n\n - NONE_SEVERITY: Default value\n - SAFE: Safe, no issues detected\n - LOW: Low severity\n - MEDIUM: Medium severity\n - HIGH: High severity\n - CRITICAL: Critical severity",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "NONE_SEVERITY",
                "SAFE",
                "LOW",
                "MEDIUM",
                "HIGH",
                "CRITICAL"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "status",
            "description": "Current status of the scan\n\n - NONE_SCAN_STATUS: Default value\n - PENDING: Scan is pending\n - IN_PROGRESS: Scan is currently in progress\n - COMPLETED: Scan has been completed\n - FAILED: Scan failed\n - CANCELED: Scan was canceled\n - SKIPPED: Scan was skipped\n - DOWNLOADING: Downloading the file",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "NONE_SCAN_STATUS",
                "PENDING",
                "IN_PROGRESS",
                "COMPLETED",
                "FAILED",
                "CANCELED",
                "SKIPPED",
                "DOWNLOADING"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ScanManagerAPI"
        ]
      }
    },
    "/scans/{scan_id}": {
      "get": {
        "summary": "Get specific scan status",
        "description": "The the results of a model scan based on its scan ID.",
        "operationId": "ScanManagerAPI_GetScanStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1GetScanStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "parameters": [
          {
            "name": "scan_id",
            "description": "Unique identifier for the scan",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "file_limit",
            "description": "Limit on number of files to return in the response",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "file_offset",
            "description": "Offset for pagination of files",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "query",
            "description": "A string to search the vulnerabilities based on the description and details of the threat.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "severity",
            "description": " - NONE_SEVERITY: Default value\n - SAFE: Safe, no issues detected\n - LOW: Low severity\n - MEDIUM: Medium severity\n - HIGH: High severity\n - CRITICAL: Critical severity",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "NONE_SEVERITY",
                "SAFE",
                "LOW",
                "MEDIUM",
                "HIGH",
                "CRITICAL"
              ]
            },
            "collectionFormat": "multi"
          },
          {
            "name": "risk_category",
            "description": "Filter scans by risk category",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "NONE_RISK_CATEGORY",
              "VULNERABLE",
              "NO_THREATS",
              "NOT_SCANNED"
            ],
            "default": "NONE_RISK_CATEGORY"
          }
        ],
        "tags": [
          "ScanManagerAPI"
        ]
      }
    }
  },
  "definitions": {
    "ai_defensecommonv1Paging": {
      "type": "object",
      "example": {
        "offset": 0,
        "count": 10,
        "total": 50
      },
      "properties": {
        "offset": {
          "type": "integer",
          "format": "int64",
          "description": "The offset integer"
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "The count integer"
        },
        "total": {
          "type": "integer",
          "format": "int64",
          "description": "The total integer"
        }
      },
      "description": "Pagination details",
      "title": "Paging"
    },
    "ai_defenseconfig_mgr_public_rest_typesv1Paging": {
      "type": "object",
      "example": {
        "offset": 0,
        "count": 10,
        "total": 50
      },
      "properties": {
        "offset": {
          "type": "integer",
          "format": "int64",
          "title": "the offset from which the list starts",
          "description": "the offset from which the list starts"
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "title": "the number of items in the list",
          "description": "the number of items in the list"
        },
        "total": {
          "type": "integer",
          "format": "int64",
          "title": "the total number of items in the backend",
          "description": "the total number of items in the backend"
        }
      },
      "description": "Pagination details",
      "title": "Paging"
    },
    "ai_defenseconfig_mgr_public_rest_typesv1Resource": {
      "type": "object",
      "example": {
        "resource_id": "456e4567-e89b-12d3-a456-426614174456",
        "resource_name": "Primary MCP Server",
        "resource_type": "MCP_SERVER",
        "resource_url": "https://mcp.example.com",
        "resource_type_specific_details": {
          "mcp_server": {
            "total_capabilities": "25",
            "total_tools": "10",
            "total_prompts": "5",
            "total_resources": "10"
          }
        }
      },
      "properties": {
        "resource_id": {
          "type": "string",
          "description": "The resource_id string"
        },
        "resource_name": {
          "type": "string",
          "description": "The resource_name string"
        },
        "resource_type": {
          "$ref": "#/definitions/v1ResourceType",
          "description": "The resource_type object"
        },
        "resource_url": {
          "type": "string",
          "description": "The resource_url string"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "description": "The created_at string"
        },
        "resource_type_specific_details": {
          "$ref": "#/definitions/v1ResourceTypeSpecificDetails",
          "description": "The resource_type_specific_details object"
        }
      },
      "description": "Details about a resource including its ID, name, and type with type specific details",
      "title": "Resource"
    },
    "ai_defenseconfig_mgr_public_rest_typesv1SortOrder": {
      "type": "string",
      "enum": [
        "SortOrder_Unspecified",
        "asc",
        "desc"
      ],
      "default": "SortOrder_Unspecified",
      "title": "SortOrder",
      "description": "Schema for ai_defenseconfig_mgr_public_rest_typesv1SortOrder"
    },
    "ai_defenseconfig_mgr_public_rest_typesv1ThreatSubTechnique": {
      "type": "object",
      "properties": {
        "sub_technique_id": {
          "type": "string",
          "title": "ID of the sub-technique",
          "description": "ID of the sub-technique"
        },
        "sub_technique_name": {
          "type": "string",
          "title": "Name of the sub-technique",
          "description": "Name of the sub-technique"
        },
        "sub_technique_description": {
          "type": "string",
          "title": "Description of the sub-technique",
          "description": "Description of the sub-technique"
        },
        "severity": {
          "type": "string",
          "title": "Parent technique ID",
          "description": "Parent technique ID"
        }
      },
      "description": "Schema for ai_defenseconfig_mgr_public_rest_typesv1ThreatSubTechnique"
    },
    "ai_validationv1Header": {
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key string"
        },
        "value": {
          "type": "string",
          "description": "The value string"
        }
      },
      "description": "Schema for ai_validationv1Header"
    },
    "ai_validationv1Paging": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "title": "count is the number of items returned in this response",
          "description": "count is the number of items returned in this response"
        },
        "offset": {
          "type": "integer",
          "format": "int32",
          "title": "offset is the current offset used for pagination",
          "description": "offset is the current offset used for pagination"
        },
        "total": {
          "type": "integer",
          "format": "int32",
          "title": "total is the total number of items available",
          "description": "total is the total number of items available"
        }
      },
      "title": "Pagination details",
      "description": "Schema for ai_validationv1Paging"
    },
    "config_mgr_publicv1ApiKeyResponse": {
      "type": "object",
      "example": {
        "key_id": "a01e4567-e89b-12d3-a456-426614174001",
        "api_key": "ap1k3y-12345678-abcdefgh..."
      },
      "properties": {
        "key_id": {
          "type": "string",
          "title": "ID of the api key created,",
          "description": "ID of the api key created,"
        },
        "api_key": {
          "type": "string",
          "description": "api key generated, only for connection of type API",
          "title": "only for connection of type API"
        }
      },
      "description": "API key details including ID and key",
      "title": "ApiKeyResponse"
    },
    "generativevalidationAWSRegion": {
      "type": "string",
      "enum": [
        "AWS_REGION_UNSPECIFIED",
        "AWS_REGION_US_EAST_1",
        "AWS_REGION_US_WEST_2",
        "AWS_REGION_EU_CENTRAL_1",
        "AWS_REGION_AP_NORTHEAST_1"
      ],
      "default": "AWS_REGION_UNSPECIFIED",
      "description": "AWSRegion are the list of regions available to test in."
    },
    "generativevalidationExternalApiProvider": {
      "type": "string",
      "enum": [
        "EXTERNAL_API_PROVIDER_UNSPECIFIED",
        "EXTERNAL_API_PROVIDER_AZURE_OPENAI",
        "EXTERNAL_API_PROVIDER_OPENAI",
        "EXTERNAL_API_PROVIDER_ANTHROPIC",
        "EXTERNAL_API_PROVIDER_GEMINI",
        "EXTERNAL_API_PROVIDER_MISTRAL",
        "EXTERNAL_API_PROVIDER_CUSTOM"
      ],
      "default": "EXTERNAL_API_PROVIDER_UNSPECIFIED",
      "description": "ExternalApiProvider specifies the external API provider to use for the model connection\nspec."
    },
    "generativevalidationLanguage": {
      "type": "string",
      "enum": [
        "LANGUAGE_EN",
        "LANGUAGE_JA",
        "LANGUAGE_FR",
        "LANGUAGE_DE"
      ],
      "default": "LANGUAGE_EN",
      "title": "- LANGUAGE_EN: ENUM_ZERO_VALUE_SUFFIX\nWe use EN as the default value because prior to 2.10 we didn't\nhave a language option for generative testing, and we implicitly\nassumed english was the language.\nBy making EN the default we ensure these previous versions are compatible,\nand will default to using EN correctly.\nENUM_FIELD_NAMES_ZERO_VALUE_END_WITH\nEnglish\n - LANGUAGE_JA: Japanese\n - LANGUAGE_FR: French\n - LANGUAGE_DE: German",
      "description": "Schema for generativevalidationLanguage"
    },
    "generativevalidationPromptBank": {
      "type": "string",
      "enum": [
        "PROMPT_BANK_UNSPECIFIED",
        "PROMPT_BANK_DEFAULT",
        "PROMPT_BANK_QUICK_SCAN",
        "PROMPT_BANK_DEMO_SCAN",
        "PROMPT_BANK_MAX"
      ],
      "default": "PROMPT_BANK_UNSPECIFIED",
      "description": "Schema for generativevalidationPromptBank"
    },
    "generativevalidationWebsocketResponseTypeConfig": {
      "type": "string",
      "enum": [
        "WEBSOCKET_RESPONSE_TYPE_CONFIG_UNSPECIFIED",
        "WEBSOCKET_RESPONSE_TYPE_CONFIG_SINGLE_JSON"
      ],
      "default": "WEBSOCKET_RESPONSE_TYPE_CONFIG_UNSPECIFIED",
      "description": "- WEBSOCKET_RESPONSE_TYPE_CONFIG_UNSPECIFIED: Unspecified: behavior determined by response_json_path (see enum description).\n - WEBSOCKET_RESPONSE_TYPE_CONFIG_SINGLE_JSON: Single JSON response with log skipping: Server may send multiple messages including\nlogs (JSON or text). Non-JSON messages are ignored. Returns the first JSON message\nthat contains the response_json_path.",
      "title": "WebsocketResponseTypeConfig specifies how the websocket server sends responses.\nThis is optional - if unspecified, behavior depends on response_json_path:\n- If response_json_path is empty: streaming text mode (accumulate all messages)\n- If response_json_path is set: single message mode (read and parse one message)"
    },
    "mcp_commonv1Resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Internal id of the resource",
          "description": "Internal id of the resource"
        },
        "name": {
          "type": "string",
          "title": "Name of the resource",
          "description": "Name of the resource"
        },
        "description": {
          "type": "string",
          "title": "Detailed description of what the resource contains and its purpose",
          "description": "Detailed description of what the resource contains and its purpose"
        },
        "title": {
          "type": "string",
          "title": "Optional human-readable title for display purposes",
          "description": "Optional human-readable title for display purposes"
        },
        "uri": {
          "type": "string",
          "title": "URI or path to access the resource (e.g., file path, URL, database reference)",
          "description": "URI or path to access the resource (e.g., file path, URL, database reference)"
        },
        "mimeType": {
          "type": "string",
          "title": "MIME type of the resource content (e.g., \"text/plain\", \"application/json\", \"image/png\")\nUsed to indicate the format and how the resource should be processed",
          "description": "MIME type of the resource content (e.g., \"text/plain\", \"application/json\", \"image/png\")\nUsed to indicate the format and how the resource should be processed"
        }
      },
      "description": "Schema for mcp_commonv1Resource"
    },
    "mcp_commonv1ScanStatus": {
      "type": "string",
      "enum": [
        "SCAN_STATUS_UNKNOWN",
        "SCAN_COMPLETED",
        "SCAN_FAILED"
      ],
      "default": "SCAN_STATUS_UNKNOWN",
      "description": "Schema for mcp_commonv1ScanStatus"
    },
    "mcp_commonv1ThreatSubTechnique": {
      "type": "object",
      "properties": {
        "subTechniqueId": {
          "type": "string",
          "title": "sub technique id or code for eg: AISubtech-9.1.1",
          "description": "sub technique id or code for eg: AISubtech-9.1.1"
        },
        "subTechniqueName": {
          "type": "string",
          "title": "sub technique name for eg: \"Code Execution\",",
          "description": "sub technique name for eg: \"Code Execution\","
        },
        "severity": {
          "type": "string",
          "title": "could be HIGH, LOW, MEDIUM etc, it is a free string",
          "description": "could be HIGH, LOW, MEDIUM etc, it is a free string"
        },
        "description": {
          "type": "string",
          "title": "description of the technique, for eg: \"Autonomously generating, interpreting, or executing code...\"",
          "description": "description of the technique, for eg: \"Autonomously generating, interpreting, or executing code...\""
        },
        "indicators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "list of indicators to display",
          "description": "list of indicators to display"
        },
        "standardMappings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "Standard mapping for eg: MITRE, OWASP",
          "description": "Standard mapping for eg: MITRE, OWASP"
        }
      },
      "description": "Schema for mcp_commonv1ThreatSubTechnique"
    },
    "mcp_registryv1ScanStatus": {
      "type": "string",
      "enum": [
        "SCAN_STATUS_UNSPECIFIED",
        "QUEUED",
        "IN_PROGRESS",
        "CANCELLING",
        "CANCELLED",
        "COMPLETED",
        "FAILED"
      ],
      "default": "SCAN_STATUS_UNSPECIFIED",
      "title": "Status of an MCP server scan",
      "description": "Schema for mcp_registryv1ScanStatus"
    },
    "scan_manager_publicv1ScanStatus": {
      "type": "string",
      "enum": [
        "NONE_SCAN_STATUS",
        "PENDING",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "CANCELED",
        "SKIPPED",
        "DOWNLOADING"
      ],
      "default": "NONE_SCAN_STATUS",
      "description": "- NONE_SCAN_STATUS: Default value\n - PENDING: Scan is pending\n - IN_PROGRESS: Scan is currently in progress\n - COMPLETED: Scan has been completed\n - FAILED: Scan failed\n - CANCELED: Scan was canceled\n - SKIPPED: Scan was skipped\n - DOWNLOADING: Downloading the file",
      "title": "ScanStatus"
    },
    "scan_manager_publicv1Severity": {
      "type": "string",
      "enum": [
        "NONE_SEVERITY",
        "SAFE",
        "LOW",
        "MEDIUM",
        "HIGH",
        "CRITICAL"
      ],
      "default": "NONE_SEVERITY",
      "description": "- NONE_SEVERITY: Default value\n - SAFE: Safe, no issues detected\n - LOW: Low severity\n - MEDIUM: Medium severity\n - HIGH: High severity\n - CRITICAL: Critical severity",
      "title": "Severity"
    },
    "scan_manager_publicv1SubTechnique": {
      "type": "object",
      "example": {
        "sub_technique_id": "AITech-9.3.1",
        "sub_technique_name": "Malicious Package / Tool Injection",
        "description": "Manipulates training data or weights...",
        "max_severity": "CRITICAL",
        "items": []
      },
      "properties": {
        "sub_technique_id": {
          "type": "string",
          "title": "e.g., \"AITech-9.3.1\"",
          "description": "e.g., \"AITech-9.3.1\""
        },
        "sub_technique_name": {
          "type": "string",
          "title": "e.g., \"Malicious Package / Tool Injection\"",
          "description": "e.g., \"Malicious Package / Tool Injection\""
        },
        "description": {
          "type": "string",
          "title": "Full description of the sub-technique",
          "description": "Full description of the sub-technique"
        },
        "indicators": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "List of indicators for this sub-technique",
          "description": "List of indicators for this sub-technique"
        },
        "max_severity": {
          "$ref": "#/definitions/scan_manager_publicv1Severity",
          "title": "Highest severity among all threats"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1ThreatInfo"
          },
          "title": "List of threat detections",
          "description": "List of threat detections"
        }
      },
      "description": "Sub-technique-level grouping with threat evidence",
      "title": "SubTechnique"
    },
    "scan_manager_publicv1Technique": {
      "type": "object",
      "example": {
        "technique_id": "AITech-9.3",
        "technique_name": "Dependency/Plugin compromise",
        "items": []
      },
      "properties": {
        "technique_id": {
          "type": "string",
          "title": "e.g., \"AITech-9.3\"",
          "description": "e.g., \"AITech-9.3\""
        },
        "technique_name": {
          "type": "string",
          "title": "e.g., \"Dependency/Plugin compromise\"",
          "description": "e.g., \"Dependency/Plugin compromise\""
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/scan_manager_publicv1SubTechnique"
          },
          "description": "The items array"
        }
      },
      "description": "Technique-level grouping of threats",
      "title": "Technique"
    },
    "v1Action": {
      "type": "string",
      "enum": [
        "ActionUnspecified",
        "Block",
        "Allow"
      ],
      "default": "ActionUnspecified",
      "title": "Action",
      "description": "Schema for v1Action"
    },
    "v1AddOrUpdatePolicyConnectionsResponse": {
      "type": "object",
      "example": {},
      "description": "Response for a successful association/disassociation of connections to a policy",
      "title": "AddOrUpdatePolicyConnectionsResponse",
      "properties": {},
      "additionalProperties": false
    },
    "v1AddOrUpdateResourceConnectionsResponse": {
      "type": "object",
      "properties": {},
      "additionalProperties": false,
      "description": "Schema for v1AddOrUpdateResourceConnectionsResponse"
    },
    "v1AiValidationJobsResponseDetails": {
      "type": "object",
      "example": {
        "task_id": "b0902628-89a5-4c3c-9145-f0e4c1adcd72",
        "tenant_id": "tenant_id",
        "config_id": "config_id",
        "run_count": 1,
        "status": "JOB_CREATED",
        "progress": 50,
        "total_num_prompts": 100,
        "error_message": "",
        "created_at": "2023-10-01T12:00:00Z",
        "started_at": "2023-10-01T12:05:00Z",
        "completed_at": "2023-10-01T12:10:00Z"
      },
      "properties": {
        "task_id": {
          "type": "string",
          "title": "task_id is the id of the temporal workflow",
          "description": "task_id is the id of the temporal workflow"
        },
        "tenant_id": {
          "type": "string",
          "title": "tenant_id is the tenant used to run the ai_validation_job",
          "description": "tenant_id is the tenant used to run the ai_validation_job"
        },
        "config_id": {
          "type": "string",
          "title": "config_id is the configuration used to configure the model validation run, see table model_validation_config",
          "description": "config_id is the configuration used to configure the model validation run, see table model_validation_config"
        },
        "run_count": {
          "type": "integer",
          "format": "int64",
          "title": "run_count is the number of runs performed, will increment if temporal task fails, we will retry up to 5 times",
          "description": "run_count is the number of runs performed, will increment if temporal task fails, we will retry up to 5 times"
        },
        "status": {
          "$ref": "#/definitions/v1JobStatus",
          "title": "status shows if the ai_validation_job is Status_Unkown, Created, In_Process, Failed or Completed"
        },
        "progress": {
          "type": "integer",
          "format": "int64",
          "title": "progress is the percent (0-100) of the current ai_validation_job completed - based on ai_validation_results",
          "description": "progress is the percent (0-100) of the current ai_validation_job completed - based on ai_validation_results"
        },
        "total_num_prompts": {
          "type": "integer",
          "format": "int64",
          "title": "total_num_prompts is the total number of prompts in the Prompt bank / corpus used for ai_validation",
          "description": "total_num_prompts is the total number of prompts in the Prompt bank / corpus used for ai_validation"
        },
        "error_message": {
          "type": "string",
          "title": "error_message is the reason why ai_validation_job failed e.g. issue with temporal",
          "description": "error_message is the reason why ai_validation_job failed e.g. issue with temporal"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "created_at is the timestamp the ai_validation_job was created",
          "description": "created_at is the timestamp the ai_validation_job was created"
        },
        "started_at": {
          "type": "string",
          "format": "date-time",
          "title": "started_at is the timestamp the ai_validation_job was started",
          "description": "started_at is the timestamp the ai_validation_job was started"
        },
        "completed_at": {
          "type": "string",
          "format": "date-time",
          "title": "completed_at is the timestamp the ai_validation_job was completed",
          "description": "completed_at is the timestamp the ai_validation_job was completed"
        }
      },
      "description": "Response for getting an AI validation job. Contains details about the job including its status, progress, and timestamps.",
      "title": "AiValidationJobsResponseDetails"
    },
    "v1AiValidationResultsResponseDetails": {
      "type": "object",
      "example": {
        "task_id": "b0902628-89a5-4c3c-9145-f0e4c1adcd72",
        "tenant_id": "tenant_id",
        "attack_id": "attack_id",
        "attack_prompt": "attack_prompt",
        "attack_objective_sub_category": "attack_objective_sub_category",
        "attack_intent": "attack_intent",
        "attack_technique": "attack_technique",
        "attack_harm_category": "attack_harm_category",
        "attack_objective": "attack_objective",
        "attack_threat": "attack_threat",
        "attack_owasp_standards": [
          "owasp_standard1"
        ],
        "attack_nist_standards": [
          "nist_standard1"
        ],
        "attack_mitre_standards": [
          "mitre_standard1"
        ],
        "attack_detection_context": "detection_context",
        "model_output": "model_output",
        "attack_result": "result",
        "severity": "severity",
        "created_at": "2023-10-01T12:00:00Z"
      },
      "properties": {
        "task_id": {
          "type": "string",
          "title": "task_id is the task_id of the temporal workflow",
          "description": "task_id is the task_id of the temporal workflow"
        },
        "tenant_id": {
          "type": "string",
          "title": "tenant_id is the tenant used to run the ai_validation_job",
          "description": "tenant_id is the tenant used to run the ai_validation_job"
        },
        "attack_id": {
          "type": "string",
          "title": "attack_id is the id of the attack used for the ai_validation_result",
          "description": "attack_id is the id of the attack used for the ai_validation_result"
        },
        "attack_prompt": {
          "type": "string",
          "title": "attack_prompt is the prompt used for the ai_validation_result",
          "description": "attack_prompt is the prompt used for the ai_validation_result"
        },
        "attack_objective_sub_category": {
          "type": "string",
          "title": "attack_objective_sub_category is the sub category of the attack objective",
          "description": "attack_objective_sub_category is the sub category of the attack objective"
        },
        "attack_intent": {
          "type": "string",
          "title": "attack_intent is the intent of the attack",
          "description": "attack_intent is the intent of the attack"
        },
        "attack_technique": {
          "type": "string",
          "title": "attack_technique is the technique used for the attack",
          "description": "attack_technique is the technique used for the attack"
        },
        "attack_harm_category": {
          "type": "string",
          "title": "attack_harm_category is the harm category of the attack",
          "description": "attack_harm_category is the harm category of the attack"
        },
        "attack_objective": {
          "type": "string",
          "title": "attack_objective is the objective of the attack",
          "description": "attack_objective is the objective of the attack"
        },
        "attack_threat": {
          "type": "string",
          "title": "attack_threat is the threat of the attack",
          "description": "attack_threat is the threat of the attack"
        },
        "attack_owasp_standards": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "attack_owasp_standards is the list of owasp standards used for the attack",
          "description": "attack_owasp_standards is the list of owasp standards used for the attack"
        },
        "attack_nist_standards": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "attack_nist_standards is the list of nist standards used for the attack",
          "description": "attack_nist_standards is the list of nist standards used for the attack"
        },
        "attack_mitre_standards": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "attack_mitre_standards is the list of mitre standards used for the attack",
          "description": "attack_mitre_standards is the list of mitre standards used for the attack"
        },
        "attack_detection_context": {
          "type": "string",
          "title": "attack_detection_context is the detection context of the attack",
          "description": "attack_detection_context is the detection context of the attack"
        },
        "model_output": {
          "type": "string",
          "title": "model_output is the output of the model",
          "description": "model_output is the output of the model"
        },
        "attack_result": {
          "type": "string",
          "title": "attack_result is the result of the attack",
          "description": "attack_result is the result of the attack"
        },
        "severity": {
          "type": "string",
          "title": "severity is the severity of the attack",
          "description": "severity is the severity of the attack"
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "title": "created_at is the timestamp the ai_validation_result is received",
          "description": "created_at is the timestamp the ai_validation_result is received"
        },
        "skip_reasons": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "skip_reasons is a list of errors from an attack and any retries",
          "description": "skip_reasons is a list of errors from an attack and any retries"
        }
      },
      "description": "Response details for AI validation results. Contains information about the attack, model output, and result.",
      "title": "AiValidationResultsResponseDetails"
    },
    "v1AnalysisResult": {
      "type": "object",
      "example": {
        "items": [
          {
            "name": "code_injection.pkl",
            "size": "500",
            "status": "COMPLETED",
            "threats": {
              "items": [
                {
                  "technique_id": "AITech-9.1",
                  "technique_name": "Model Manipulation",
                  "items": [
                    {
                      "sub_technique_id": "AITech-9.1.1",
                      "sub_technique_name": "Code Execution",
                      "max_severity": "CRITICAL",
                      "items": [
                        {
                          "id": "9ed580c4-ac95-4f26-bdeb-99edf6a07c0b",
                          "threat_id": "MDL-006",
                          "threat_type": "CODE_EXECUTION",
                          "severity": "CRITICAL",
                          "details": "Detected use of eval() during unpickling",
                          "description": "Arbitrary code execution vulnerability"
                        }
                      ]
                    }
                  ]
                }
              ],
              "paging": {
[...]
